<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bg-white-gradient {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 255) 50%, rgba(255, 255, 255, 0) 90%);
        }
    </style>
</head>
@{
    bool validSearch = ViewBag.ValidSearch ?? true;
    string errorMsg = ViewBag.ErrorMessage ?? "";
    string target = ViewBag.Target ?? "main";
}
<body class="bg-gray-800 min-w-screen min-h-screen">
<nav class="flex justify-around h-16 py-2 px-8">
    <h1 class="text-2xl font-bold text-white">BusBank <span class="italic">v0.1.0</span></h1>
    
    <div class="relative flex justify-center w-1/2">
        <div class="flex items-center bg-white border-2 border-gray-300 rounded-lg w-1/2 h-10">
            <form method="POST" action="/Home/search" class="flex items-center px-4 w-full">  
                <input
                    name="PostCode"
                    type="text"
                    required
                    placeholder="Enter postcode to search for nearest stops..."
                    class="w-full bg-white text-sm placeholder-gray-600 focus:outline-none px-2 w-full"/>
                <input type="text"  name="Target" value="nav" class="hidden">
                <input type="submit" value="Search 🚀" class="border-l-2 border-gray-700 bg-transparent pl-2 cursor-pointer">
            </form>
        </div>
        @if (!validSearch & target == "nav")
            {
                <div id="errorBox" class="flex justify-center absolute top-0 w-full mb-8 transform translate-y-12">
                    <div class="flex items-center justify-between bg-red-400 border-2 border-red-500 rounded-lg h-10 w-1/2 px-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="self-start text-red-500 transform -translate-y-4 h-6 w-6" fill="#F87171" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                        </svg>
                        <p class="font-semibold text-gray-900">
                            @errorMsg
                        </p>
                        <button class="h-6 w-6" onclick="document.getElementById('errorBox').remove()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-900 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>
            }
    </div>
</nav>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>